/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    margin: auto;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {

    /*element body : regle de styles => background-color ; ici utilisé pour changé la couleur du fond de la page sur du beige." */
    background-color: #cac3be;
}


header {
    /*element header : regle de style =>
    width: ici mit a 100ù pour que les element occupes la pages entière en largeur
    height: ici mit a 35rem pour la taille de la boites header
    background-color: de nouveau pour changer la couleur du fond par contre ici cela sera pour header ... */
    width: 100%;
    height: 35rem;
    background-color: #161C1a;
}

header h1 {
    /*nous avons ici deux element HEAD && H1 
    on va attribué c'est règle suivante au dexu élément
    margin-left: permet de décaler l'exterieur de la boite h1 qui se trouve dans la boite header de 10% vers la gauche
    padding-top: ici le padding nous permet d'agrandir l'interieur du haut de la boite
    font-size: nous permet d'aggrandir le text a 38px
    font-weight: permet de mettres le texte en gras
    color: ici nous changeons la couleur du text
    font-family: nous choissont le styles que le texte ddevra afficher sur le site une fois chargé*/
    margin-left: 10%;
    padding-top: 38px;
    font-size: 38px;
    font-weight: bold;
    color: #685747;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

header .logo {
    /*l'element header accompagné d'une classe définie par un dot ".logo" : atrribution des regle =>
    border-radius: arrondis les bord du logo a 50M
    box-shadow: ajoute des ombres que l'on déplace par px ...
    vertical-align: align le logo au millieu de la boite.*/
    width: 4%;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 50%;
    box-shadow: 0px 10px 30px 10px #161C1a, 0px 0px 30px 0px #cac3be;
    vertical-align: middle;
}

.img-right img {
    /*element img avec la classe .img-right 
    float: right; deplace l'image a droite de l'ecran
    width: ici nous permet de definir la largeur et hauteur de l'image a 25%
    object-fit: coontaint; permet d'adapter la boite en utilisant la largeur et la hauteur
    box-shadow: ajoute des ombres que l'on deplace par px ...*/
    float: right;
    margin-right: 10%;
    width: 25%;
    object-fit: contain;
    box-shadow: 0px 10px 30px 10px #cac3be;
}

/*END HEADER*/

/*MAIN*/

#une {
/* on passe sur un ID "#" ici qui represente la section id="une" 
display: flex => flexbox méthode de mise en page qui permet de mettre en column / row les elements
ici nous permet dans la section UNE d'aligner les deux container .text-left et .grid-img-right en mode row par default :
et une mise en page centrée grace a flex et margin auto avec une largeur de 80% on rajoute margin-top 15rem pour faire de l'éspace entre le header et la section une */
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 15rem;
    height: auto;
}

.text-left {
    width: 50%;
    height: auto;
}

.center-h1 {
    /*Text-align center ; permet de centrer le text.
    margin-top a 98px avec un style impact couleur marron des ombre sous le text et une taille de 38px.*/
    margin-top: 98px;
    text-align: center;
    height: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 38px;
    color: #685747;
    text-shadow: 0px 30px 0px rgb(251, 234, 190);
}

.text-left h1 {
    /*la classe nous permet ici de pointer sur l'element h1 pour definir les regles de styles 
    => mettre en gras le titre h1 taille du text 28px et un espace en bas de 18px*/
    margin-bottom: 18px;
    font-weight: bold;
    font-size: 28px;
}

.text-left h2 {
    /*la classe nous permet ici de pointer sur l'element h2 pour definir les regles de styles 
    => ici padding en haut et en bas , 0px droite et gauche styles qui sera télécharger plus haut et rajouter plus tard grace a @import et une taille de 28px et la couleur ...*/
    padding: 28px 0px;
    margin: auto;
    font-size: 28px;
    color: #161C1a;
    font-family: ; /*font @import de google ... */ 
}

.text-left p {
    text-align: justify;
    color: #161C1a;
    font-size: 18px;
    font-family:  ; /*font @import de google ... */ 
}

/*IMG-RIGHT-grid*/

.grid-img-right {
    /*Utilisation de flexbox
    flex-wrap nous permet ici d'afficher les img sur la deuxieme ligne si c'était comme par default flex-nowrap les 6 image serait côte a côte sur une seul et même ligne...
    justify-content: permet d'aligner au centre
    object-fit: cover; va forcer l'img a maintenir sont ratio d'affichage et donc si l'img et la boite ne correspondent pas l'img sera rogné.*/
    margin-top: 58px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    height: auto;
}

.grid-img-right img {
    /*Hauteur de l'img a 10rem , avec une largeur de 25% bordure de 2px solid noire, object-fit cover*/
    border: 2px solid black;
    width: 25%;
    height: 10rem;
    object-fit: cover;
}

/*END SECTION une*/

#deux {
    margin-top: 98px;
    width: 100%;
    height: 55rem;
}

.bg-form img {
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 55rem;
    object-fit: cover;
} 

.bg-form h1 {
    position: absolute;
    margin-top: 38px;
    margin-left: 25%;
    color: wheat;
    z-index: 1;
    font-size: 68px;
}

form {
    /*Nouveau element form qui nous permet de crée des formulaire pour que les utilisateurs répondent au question ...
    
    On définit ici la hauteur la largeur la couleur du fond la position : absolute grace a left on defini l'emplacement finale de l'element
    z-index: 1; permet de faire passer en premier plan au dessus du bg-form.
    
    Nous rencontrerons par la suite <fieldset> <legend> <select> <label> && <input>
    le <label> represente une legende pour l'utilisateur, sur le html ont retrouve l'attribut "for" du label qui sert de controle et relie l'id du input aux label : 
    sans cela le label ne rederigera pas vers le input.

    <input> permet a l'utilisateur de saisir des donnée
    
    <fieldset> : permet de cree des groupes different pour les diffferiencier on rajoute <legend> qui nous donne une legende pour son element parent qui est fieldset ici.
    
    <select><option> dans un element<select> on utilise l'element <option> qui permmettra a l'utilisateur de choisir ici : "choisisser une des quatre reponse"*/
    background-color: #161C1ada;
    width: 40%;
    position: absolute;
    left: 35%;
    margin-top: 8%;
    z-index: 1;
    height: auto;
    padding: 30px 20px;
    box-shadow: 0px 10px 10px #cac3be;
}

fieldset {
    width: 40%;
    height: auto;
    padding: 25px 15px;
    margin: auto;
    background-color: #161C1a;
    border: 2px solid black;
}

legend {
    border: 1px solid black;
    background-color: #685747;
    border-radius: 10px;
    padding: 10px;
} 

select {
    padding: 0;
}

h3 {
    margin: 18px 0px;
    text-align: center;
    padding: 5px;
    margin-bottom: 30px;
    color: rgb(234, 55, 91);
    background-color: #cac3be;
    border-radius: 10px;
    font-size: 28px;
}

label {
    color: #cac3be;
    display: inline-block;
    width: 23%;
    height: auto;
    font-weight: bold;
    font-size: 18px;
    font-family: ; /*@import google*/
}

.w30 {
    width: 20%;
    height: auto;
    margin: auto;
}

.center-form1 {
    margin-bottom: 18px;
    width: 100%;
    text-align: center;
}


/*FOOTER*/

footer {
    /*footer element pour le bas de la page*/
    background-color: #161C1a;
    height: 10rem;
    width: 100%;
}

#flex-footer {
    display: flex;
    width: 80%;
    height: 10rem;
    margin: auto;
    justify-content: space-between;
    align-items: flex-end;
}

.text-foot-left {
    width: 30%;
    height: 10rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

.text-foot-left p {

    padding: 0;
    margin: 0;
    font-family: ; /*@import google*/
    color: wheat;
    font-size: 28px;
}

.text-foot-right {
    height: 10rem;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.text-foot-right p {
    padding: 0;
    margin: 0;
    font-family: ; 
    color: wheat;
    font-size: 28px;
}

.fm {
    font-family: 
}